<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <!-- example: INFO 2022-03-30T14:49:20,215 Hello Exception at ...-->
        <Property name="LOG_PATTERN">
            %highlight{%-5level|%d{ISO8601}{GMT}|%logger{36}|%msg%ex%n}
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>